@tailwind base;
@tailwind components;
@tailwind utilities;

.PhoneInputInput {
  padding: 0.6rem;
  border-radius: 0.5rem;
  background-color: white;
  display: block;
  width: 100%;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.dark .PhoneInputInput {
  background-color: #181818;
}

.custom-shape-divider-top-1709414390 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1709414390 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 34px;
}


.custom-shape-divider-bottom-1709414541 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1709414541 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 34px;
}
